.form {
  display: block;
  margin: 15% auto;
  width: 500px;
  height: 400px;
  background-color: rgb(231, 243, 248);
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 15px;
}

.formTitle {
  margin-bottom: 45px;
}

.formContent {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.formContent input {
  padding: 8px 15px;
  font-size: 17px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgb(149, 173, 244);
  transition: all 0.2s;
}

.formContent input:focus {
  border-color: rgb(90, 130, 251);
  outline: none;
}

.formButton {
  cursor: pointer;
  margin-top: 18px;
  padding: 10px 45px;
  border: none;
  border-radius: 5px;
  background-color: rgb(149, 173, 244);
  font-size: 16px;
  transition: all 0.2s;
}

.formButton:hover {
  background-color: rgba(149, 173, 244, 0.731);
}

.label {
  color: black;
  font-weight: bold;
  width: 100%;
  float: left;
}

.formContent .label + .label {
  margin-top: 15px;
}
