.backdrop {
  max-width: 100%;
  height: 100vh;
  background-image: url('/backdrop.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 17% 0px;
}
